<ion-view view-title="Denunciar">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Titulo" ng-model="titulo" ng-minlength="1">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Descripcion</span>
        <textarea type="text" placeholder="Descripcion" ng-model="descripcion" ng-minlength="1"></textarea>
      </label>
      <label class="item item-input">
        <center>
          <button class="button icon-left ion-camera button-clear button-dark" ng-click="tomarFoto()"> Tomar una foto</button>
        </center>
        <!--<button class="button icon-left ion-images button-clear button-dark" ng-click="seleccionarimagen()"> Imagen</button>-->
      </label>
      <label class="item item-body" ng-show="imagenUri !== undefined">
        <img class="full-image" ng-src="{{imagenUri}}">
      </label>
      <a href="#/vehiculos/{{placa}}/denuncia" ng-disabled="!titulo || !descripcion" class="button button-block button-balanced" ng-click="denunciar(placa, titulo, descripcion, imagenUri)">Enviar denuncia</a>
    </div>
  </ion-content>
</ion-view>
