<ion-view view-title="Top busquedas">
  <ion-content class="padding">
    <div class="list card">
      <a class="item" href="#/app/vehiculos/">
        <div class="row">
          <div class="col">WAT-982</div>
          <div class="col" style="text-align: right">3,203 busquedas</div>
        </div>
      </a>
      <a class="item" href="#/app/vehiculos/">
        <div class="row">
          <div class="col">LWS-412</div>
          <div class="col" style="text-align: right">2,239 busquedas</div>
        </div>
      </a>
      <a class="item" href="#/app/vehiculos/">
        <div class="row">
          <div class="col">BSW-002</div>
          <div class="col" style="text-align: right">1,391 busquedas</div>
        </div>
      </a>
      <a class="item" href="#/app/vehiculos/">
        <div class="row">
          <div class="col">KCE-945</div>
          <div class="col" style="text-align: right">1,208 busquedas</div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>