<ion-view view-title="Denuncias">
  <ion-content class="padding">
    <div class="list card">
      <div class="item">
        <h2>Choque</h2>
        <p>28/09/11 - Av. Lima 456</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/denuncia1.jpg">
        <p>
          El vehiculo fue culpable de un choque espantoso.
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item">
        <h2>Terrible accidente</h2>
        <p>28/09/11 - Av. Lima 456</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/denuncia2.jpg">
        <p>
          El conductor de este vehiculo fue el que ocacionó este terrible accdiente vehicular.
        </p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">
      <button class="button button-clear" ui-sref="app.vehiculo-denuncia">Hacer una denuncia</button>
    </div>
  </div>
</ion-view>