<ion-view view-title="Sistema de Transporte Urbano">
  <ion-content class="padding">
    <div class="padding-top padding-bottom">
      <center><h1>STU</h1></center>
      <div class="row">
        <div class="col col-offset-10 col-80">
          <center><h4>La base de datos de los vehiculos de Lima.<br>Busca, comenta y denuncia!</h4></center>
        </div>
      </div>
    </div>
    <button ui-sref="busqueda-vehiculo" class="button button-block button-balanced">Buscar vehiculo</button>
    <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="loginFb()" ng-hide="fbButtonIsHidden">Facebook</button>
    <div class="list" ng-hide="usuarioDataIsHidden">
      <a class="item item-avatar" href="#">
        <img src="{{usuario.imagen}}">
        <h2>{{usuario.nombre}}</h2>
        <p>{{usuario.email}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
