<ion-view view-title="Informacion del vehiculo">
  <ion-content class="padding">
    <div class="list">
      <div class="item">
        <h2><b>Numero de placa</b></h2>
        <p>{{vehiculo.placa}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Modalidad Servicio</b></h2>
        <p>{{vehiculo.modalidadServicio}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Clase</b></h2>
        <p>{{vehiculo.clase}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Año de fabricación</b></h2>
        <p>{{vehiculo.anioFabricacion}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Marca</b></h2>
        <p>{{vehiculo.marca}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Serie</b></h2>
        <p>{{vehiculo.serie}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Serie del motor</b></h2>
        <p>{{vehiculo.serieMotor}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Tipo de commbustible</b></h2>
        <p>{{vehiculo.tipoCombustible}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Peso seco</b></h2>
        <p>{{vehiculo.pesoSeco}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Peso bruto</b></h2>
        <p>{{vehiculo.pesoBruto}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Longitud</b></h2>
        <p>{{vehiculo.longitud}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Altura</b></h2>
        <p>{{vehiculo.altura}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Ancho</b></h2>
        <p>{{vehiculo.ancho}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Carga util</b></h2>
        <p>{{vehiculo.cargaUtil}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Capacidad de pasajeros</b></h2>
        <p>{{vehiculo.capacidadPasajero}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Capacidad de pasajeros</b></h2>
        <p>{{vehiculo.capacidadPasajero}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Numero de asientos</b></h2>
        <p>{{vehiculo.numeroAsientos}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Numero de ruedas</b></h2>
        <p>{{vehiculo.numeroRueda}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Numero de ejes</b></h2>
        <p>{{vehiculo.numeroEje}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Numero de puertas</b></h2>
        <p>{{vehiculo.numeroPuerta}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Fecha de inscripción</b></h2>
        <p>{{vehiculo.fechaInscripcion}}</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Tipo de documento</b></h2>
        <p>{{vehiculo.tipoDocumento}}</p>
      </div>
      <br>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-balanced">
      <button class="button button-clear" ui-sref="vehiculo-comentarios" ng-click="buscarComentarios()">Comentarios</button>
      <button class="button button-clear" ui-sref="vehiculo-denuncias" ng-click="buscarDenuncias()">Denuncias</button>
<!--      <button class="button button-clear pull-right">Right</button>-->
    </div>
<!--
  <ion-tabs class="tabs-dark">
    <ion-tab ui-sref="app.vehiculo-comentarios" title="Comentarios">
      <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
    <ion-tab ui-sref="app.vehiculo-denuncias" title="Denuncias">
      <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

<!--
  <ion-footer-bar class="bar-dark">
    <a href="#/app/vehiculo-comentarios" class="tab-item-active">
      <span class="tab-title">Comentarios</span>
    </a>
    <a href="#/app/vehiculo-denuncias" class="tab-item-active">
      <span class="tab-title">Denuncias</span>
    </a>
-->
<!--    <div class="title">Footer</div>-->
<!--
    <div class="title">
      <div class="col">
        <button class="button button-block" ui-sref="app.vehiculo-comentarios">Comentarios</button>
      </div>
      <div class="col">
        <button class="button button-block" ui-sref="app.vehiculo-denuncias">Denuncias</button>
      </div>
    </div>
-->
<!--  </ion-footer-bar>-->
</ion-view>