<ion-view view-title="Informacion del vehiculo">
  <ion-content class="padding">
    <div class="list">
      <div class="item">
        <h2><b>Numero de placa</b></h2>
        <p>WAT-982</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Modalidad Servicio</b></h2>
        <p>Taxi Estación</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Clase</b></h2>
        <p>Automovil</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Año de fabricación</b></h2>
        <p>2000</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Marca</b></h2>
        <p>Chevrolet</p>
      </div>
      <br>
      <div class="item">
        <h2><b>Tipo de commbustible</b></h2>
        <p>Gasolina</p>
      </div>
      <br>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-balanced">
      <button class="button button-clear" ui-sref="vehiculo-comentarios">Comentarios</button>
      <button class="button button-clear" ui-sref="vehiculo-denuncias">Denuncias</button>
<!--      <button class="button button-clear pull-right">Right</button>-->
    </div>
<!--
  <ion-tabs class="tabs-dark">
    <ion-tab ui-sref="app.vehiculo-comentarios" title="Comentarios">
      <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
    <ion-tab ui-sref="app.vehiculo-denuncias" title="Denuncias">
      <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

<!--
  <ion-footer-bar class="bar-dark">
    <a href="#/app/vehiculo-comentarios" class="tab-item-active">
      <span class="tab-title">Comentarios</span>
    </a>
    <a href="#/app/vehiculo-denuncias" class="tab-item-active">
      <span class="tab-title">Denuncias</span>
    </a>
-->
<!--    <div class="title">Footer</div>-->
<!--
    <div class="title">
      <div class="col">
        <button class="button button-block" ui-sref="app.vehiculo-comentarios">Comentarios</button>
      </div>
      <div class="col">
        <button class="button button-block" ui-sref="app.vehiculo-denuncias">Denuncias</button>
      </div>
    </div>
-->
<!--  </ion-footer-bar>-->
</ion-view>