<ion-view view-title="Denuncias">
  <ion-content class="padding">
    <div class="list card" ng-repeat="denuncia in denuncias">
      <div class="item">
        <h2>{{denuncia.titulo}}</h2>
        <p>{{denuncia.fechaCreacion}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{denuncia.imagen}}">
        <p>
          {{denuncia.texto}}
        </p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">
      <button class="button button-clear" ui-sref="vehiculo-denuncia">Hacer una denuncia</button>
    </div>
  </div>
</ion-view>